.cloud-ens-form {
    .form-control {
    height: 3rem;

    padding: {
      top: .75rem;
      bottom: .75rem;
    }

    border-style: none;

    &::placeholder {
      font-size: $small-font-size;
    }
  }
  
  label  {
    font-size: $small-font-size;
  }



}



.bg-light-green-block {
    background-color: $green-200;
    border-color: $green-500;    
  }
  
.bt-200 {
    width : 200px;
}