//.drawer-toggle-button {
//  body:not([data-drawer="true"]) & {
//    display: none !important;
//  }
//}


#maximized {
  > .page-header {
    body:not([data-page-header="true"]) & {
      display: none !important;
    }
  }
}


#contextualized-search {
  .portlet-container {
    margin-bottom: 0;
  }
}
