$primary: #11795d;
$blue-dark: #242860;
$blue-light: #76c7a7;
$blue-lighter: #d8ede5;

$theme-colors: (
  "blue-dark": $blue-dark,
  "blue-light": $blue-light,
  "blue-lighter": $blue-lighter
);

$uncluttered-toolbar-bg: #f0f9f5;
$uncluttered-body-bg-left: #68cda3;
$uncluttered-body-bg-center: #67b898;
$uncluttered-body-bg-right: #81c896;

$font-size-base: .75rem; // 12px
$font-family-base: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$table-cell-padding: .75em;

$breadcrumb-bg: transparent;
$breadcrumb-divider: quote(">");


@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
