@import "variables-base";


$primary-light: $green-100;
$primary: $green-500;
$primary-dark: $green-700;

$theme-colors: map-merge(
                (
                        "primary-light": $primary-light,
                        "primary-dark": $primary-dark
                ),
                $theme-colors
);


@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
