$gray-100: #f5f5f5;
$gray-500: #848484;
$gray-600: #686868;
$gray-800: #3d3d3d;
$black: #000;

$green-100: #e9eee4;
$green-500: #a5d17b;
$green-700: #5e7447;
$green-300: mix($green-100, $green-500);
$green-200: mix($green-100, $green-300);
$green-600: mix($green-500, $green-700);
$green-pronote: #339970;

$orange-100: #f6ebe6;
$orange-500: #ff9d7e;
$orange-700: #c1451f;
$orange-300: mix($orange-100, $orange-500);
$orange-200: mix($orange-100, $orange-300);
$orange-600: mix($orange-500, $orange-700);

$purple: #6d69a8;
$red: #ff5a5a;

$colors: (
        "green-light": $green-100,
        "green": $green-500,
        "green-dark": $green-700,
        "green-pronote": $green-pronote,
        "orange-light": $orange-100,
        "orange": $orange-500,
        "orange-dark": $orange-700,
        "black": $black
);

$secondary-light: $gray-500;

$theme-colors: (
        "secondary-light": $secondary-light,
        "green-light": $green-100,
        "green": $green-500,
        "green-dark": $green-700,
        "green-pronote": $green-pronote,
        "orange-light": $orange-100,
        "orange": $orange-500,
        "orange-dark": $orange-700,
        "red": $red,
        "black": $black
);


$body-color: $black;


$font-family-base: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: .875rem; // 14px

$headings-font-weight: 700;

$small-font-size: 85%;


// Breadcrumb
$breadcrumb-font-size: $font-size-base;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 3rem;
$breadcrumb-bg: transparent;
$breadcrumb-divider: quote(">");
