//
// Charte FOAD - Forms
// -----------------------------------------------------



.form-control, .input-group-addon {
    border-style: none;
    border-width: 2px;
    border-bottom-style: solid;

    .border-bottom-radius(@radius: ~"0 !important");
}


.form-control {
    background-color: transparent;

    .box-shadow(@shadow: ~"none !important");
    .form-control-focus(@color: @brand-primary);
    .placeholder(@color: @gray-light);
}
