@import "variables";


$document-type-flat-size: #{$line-height-base * 2}em;


.document-type {
  font-style: normal;
  font-weight: $font-weight-bolder;
  text-align: center;
  text-transform: uppercase;
  user-select: none;


  // Display
  &[data-display] {
    &::before {
      content: attr(data-display);
      vertical-align: middle;
    }
  }


  &.document-type-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: #{$line-height-base}em;
    min-width: #{$line-height-base}em;

    // Size
    &[data-display] {
      padding: $border-radius-sm;
      @include border-radius($border-radius-sm);

      &[data-size="1"] {
        &::before {
          font-size: .9em;
        }
      }
      &[data-size="2"] {
        &::before {
          font-size: .8em;
        }
      }

      &[data-size="3"] {
        &::before {
          font-size: .7em;
        }
      }

      &[data-size="4"] {
        &::before {
          font-size: .6em;
        }
      }
    }
  }

  &.document-type-flat, &.document-type-flat-inverse {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: $document-type-flat-size;
    width: $document-type-flat-size;

    border-radius: #{$line-height-base}em;

    .glyphicons {
      &::before {
        height: 2em;
        width: 2em;
      }
    }

    // Size
    &[data-size="1"] {
      &::before {
        font-size: 1.5em;
      }
    }
    &[data-size="2"] {
      &::before {
        font-size: 1.25em;
      }
    }
    &[data-size="3"] {
      &::before {
        font-size: 1em;
      }
    }
    &[data-size="4"] {
      &::before {
        font-size: .8em;
      }
    }
  }

  &.document-type-flat {
    color: $gray-800;
    background-color: $white;

    a:hover &, a:focus & {
      color: darken($gray-800, $emphasized-link-hover-darken-percentage);
    }
  }

  &.document-type-flat-inverse {
    color: $white;
    background-color: $gray-800;

    a:hover &, a:focus & {
      background-color: darken($gray-800, $emphasized-link-hover-darken-percentage);
    }
  }
}


@mixin document-type-color($extension, $color) {
  .document-type[data-extension="#{$extension}"] {
    color: $color;

    &.document-type-inline[data-display], &.document-type-flat-inverse {
      color: $white;
      background-color: $color;
    }

    a:hover &, a:focus & {
      color: darken($color, $emphasized-link-hover-darken-percentage);

      &.document-type-inline[data-display], &.document-type-flat-inverse {
        color: $white;
        background-color: darken($color, $emphasized-link-hover-darken-percentage);
      }
    }
  }
}


// PDF
$document-type-pdf-color: #c70909;
@include document-type-color($extension: "pdf", $color: $document-type-pdf-color);

// DOC
$document-type-doc-color: #2a5699;
@include document-type-color($extension: "doc", $color: $document-type-doc-color);
@include document-type-color($extension: "docx", $color: $document-type-doc-color);
@include document-type-color($extension: "odt", $color: $document-type-doc-color);

// XLS
$document-type-xls-color: #207245;
@include document-type-color($extension: "xls", $color: $document-type-xls-color);
@include document-type-color($extension: "xlsx", $color: $document-type-xls-color);
@include document-type-color($extension: "ods", $color: $document-type-xls-color);

// PPT
$document-type-ppt-color: #d24625;
@include document-type-color($extension: "ppt", $color: $document-type-ppt-color);
@include document-type-color($extension: "pptx", $color: $document-type-ppt-color);
@include document-type-color($extension: "odp", $color: $document-type-ppt-color);
