@import "mixins";


@include glyphicons-filetypes($number: 1, $name: "file-text");
@include glyphicons-filetypes($number: 2, $name: "file-rich-text");
@include glyphicons-filetypes($number: 3, $name: "file-audio");
@include glyphicons-filetypes($number: 4, $name: "file-music");
@include glyphicons-filetypes($number: 5, $name: "file-video");
@include glyphicons-filetypes($number: 6, $name: "file-image");
@include glyphicons-filetypes($number: 7, $name: "file-photo");
@include glyphicons-filetypes($number: 8, $name: "file-vector");
@include glyphicons-filetypes($number: 9, $name: "file-spreadsheet");
@include glyphicons-filetypes($number: 10, $name: "file-database");
@include glyphicons-filetypes($number: 11, $name: "file-program");
@include glyphicons-filetypes($number: 12, $name: "file-terminal");
@include glyphicons-filetypes($number: 13, $name: "file-lock");
@include glyphicons-filetypes($number: 14, $name: "file-unlock");
@include glyphicons-filetypes($number: 15, $name: "file-script");
@include glyphicons-filetypes($number: 16, $name: "file-presentation");
@include glyphicons-filetypes($number: 17, $name: "file-font");
@include glyphicons-filetypes($number: 18, $name: "file-incoming");
@include glyphicons-filetypes($number: 19, $name: "file-settings");
@include glyphicons-filetypes($number: 20, $name: "file-web");
@include glyphicons-filetypes($number: 21, $name: "file");
@include glyphicons-filetypes($number: 22, $name: "file-broken");
@include glyphicons-filetypes($number: 23, $name: "file-incomplete");
@include glyphicons-filetypes($number: 24, $name: "file-zip");
@include glyphicons-filetypes($number: 25, $name: "file-heart");
@include glyphicons-filetypes($number: 26, $name: "file-invisible");
@include glyphicons-filetypes($number: 27, $name: "file-visible");
@include glyphicons-filetypes($number: 28, $name: "file-no");
@include glyphicons-filetypes($number: 29, $name: "file-cloud");
@include glyphicons-filetypes($number: 30, $name: "file-search");
@include glyphicons-filetypes($number: 31, $name: "file-stats");
@include glyphicons-filetypes($number: 32, $name: "file-package");
@include glyphicons-filetypes($number: 33, $name: "file-disc-image");
@include glyphicons-filetypes($number: 34, $name: "file-plus");
@include glyphicons-filetypes($number: 35, $name: "file-minus");
@include glyphicons-filetypes($number: 36, $name: "file-remove");
@include glyphicons-filetypes($number: 37, $name: "file-check");
@include glyphicons-filetypes($number: 38, $name: "file-question");
@include glyphicons-filetypes($number: 39, $name: "file-info");
@include glyphicons-filetypes($number: 40, $name: "file-alert");
@include glyphicons-filetypes($number: 41, $name: "folder-applications");
@include glyphicons-filetypes($number: 42, $name: "folder-burnable");
@include glyphicons-filetypes($number: 43, $name: "folder-burnable-alt");
@include glyphicons-filetypes($number: 44, $name: "folder-desktop");
@include glyphicons-filetypes($number: 45, $name: "folder-settings");
@include glyphicons-filetypes($number: 46, $name: "folder-documents");
@include glyphicons-filetypes($number: 47, $name: "folder-downloads");
@include glyphicons-filetypes($number: 48, $name: "folder-uploads");
@include glyphicons-filetypes($number: 49, $name: "folder-favorites");
@include glyphicons-filetypes($number: 50, $name: "folder-users");
@include glyphicons-filetypes($number: 51, $name: "folder-music");
@include glyphicons-filetypes($number: 52, $name: "folder-video");
@include glyphicons-filetypes($number: 53, $name: "folder-image");
@include glyphicons-filetypes($number: 54, $name: "folder-photo");
@include glyphicons-filetypes($number: 55, $name: "folder-shared");
@include glyphicons-filetypes($number: 56, $name: "folder-smart");
@include glyphicons-filetypes($number: 57, $name: "folder-lock");
@include glyphicons-filetypes($number: 58, $name: "folder-unlock");
@include glyphicons-filetypes($number: 59, $name: "folder-user");
@include glyphicons-filetypes($number: 60, $name: "folder-heart");
@include glyphicons-filetypes($number: 61, $name: "folder");
@include glyphicons-filetypes($number: 62, $name: "folder-open");
@include glyphicons-filetypes($number: 63, $name: "folder-archive");
@include glyphicons-filetypes($number: 64, $name: "folder-network");
@include glyphicons-filetypes($number: 65, $name: "folder-network-off");
@include glyphicons-filetypes($number: 66, $name: "folder-invisible");
@include glyphicons-filetypes($number: 67, $name: "folder-visible");
@include glyphicons-filetypes($number: 68, $name: "folder-no");
@include glyphicons-filetypes($number: 69, $name: "folder-cloud");
@include glyphicons-filetypes($number: 70, $name: "folder-search");
@include glyphicons-filetypes($number: 71, $name: "folder-home");
@include glyphicons-filetypes($number: 72, $name: "folder-library");
@include glyphicons-filetypes($number: 73, $name: "folder-games");
@include glyphicons-filetypes($number: 74, $name: "folder-plus");
@include glyphicons-filetypes($number: 75, $name: "folder-minus");
@include glyphicons-filetypes($number: 76, $name: "folder-remove");
@include glyphicons-filetypes($number: 77, $name: "folder-check");
@include glyphicons-filetypes($number: 78, $name: "folder-question");
@include glyphicons-filetypes($number: 79, $name: "folder-info");
@include glyphicons-filetypes($number: 80, $name: "folder-alert");
