$glyphicons-size: #{$line-height-base}em !default;

$url-prefix: "/osivia-portal-custom-web-assets/components/glyphicons-2.2/" !default;
$default-url: $url-prefix + "basic/glyphicons-basic-587-bug.svg" !default;
