.card {
  &.enlarge-link {
    &:hover {
      .card-header, .card-body, .card-footer {
        background-color: var(--grey-elevated-hover);
      }
    }
  }
}

.card-header {
  padding-top: $card-spacer-y;
  padding-bottom: map-get($spacers, 3);

  background-color: var(--grey-white);
  border-bottom-style: none;

  .card-header-tabs {
    &.nav-tabs {
      //margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
      margin-left: calc(-1 * var(--bs-card-cap-padding-x));
      margin-right: calc(-1 * var(--bs-card-cap-padding-x));
      padding-left: var(--bs-card-cap-padding-x);
      padding-right:var(--bs-card-cap-padding-x);
    }
  }

  ~ .card-body {
    padding-top: 0;
  }
}

.card-title {
  font-size: 1.375rem;
  line-height: 1.75rem;

  a {
    color: var(--blue-france-strong);

    .enlarge-link & {
      background-image: unset;
    }
  }
}
