body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.dyna-region {
  > [id] {
    &:not([id="admin"]) {
      display: flex;
      flex-direction: column;
      gap: map-get($spacers, 4);
    }
  }
}
