@use "sass:math";

// Titres - heading
//h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    color: var(--grey-black);
  }
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: math.div(40, 32);

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 2.5; // 40px
    line-height: math.div(48, 40);
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: math.div(36, 28);

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 2; // 32px
    line-height: math.div(40, 32);
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: math.div(32, 24);

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.75; // 28px
    line-height: math.div(36, 28);
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: math.div(28, 22);

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.5; // 24px
    line-height: math.div(32, 24);
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  line-height: math.div(28, 20);

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.375; // 22px
    line-height: math.div(28, 22);
  }
}

h6, .h6 {
  font-size: $h6-font-size;
  line-height: math.div(24, 18);

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.25; // 20px
    line-height: math.div(28, 20);
  }
}

small, .small {
  font-size: $font-size-sm;
  line-height: $line-height-computed-sm;
}
