# LDAP connection properties
cns.ldap.url=ldap://[URL-CNS]:1389
cns.ldap.filter=uid=%u,ou=users,dc=osivia,dc=org
forums.ldap.url=ldap://[URL-FORUMS]:1389
forums.ldap.filter=uid=%u,ou=users,dc=osivia,dc=org

# CNS CAS public URL
cns.cas.publicUrl=https://[URL-CNS]/cas
