@import "../cloud-ens/variables";


small {
  font-size: .625rem !important; // 10px
}


.form-control {
  height: 3rem !important;

  padding: {
    top: .75rem !important;
    bottom: .75rem !important;
  }

  border-style: none !important;

  &::placeholder {
    font-size: $small-font-size;
  }
}


ul.list-marker-green {
  padding-left: 0;

  list-style: none;

  li {
    display: flex;

    &::before {
      content: "\2022"; // Add content: \2022 is the CSS Code/unicode for a bullet

      margin-right: .5rem;

      color: $green-500;

      font-family: initial;
      font-weight: bold;
    }
  }
}


/*
@import "../osivia/variables";


.profile-decorator {
  $caret-size: 8px;

  position: relative;

  margin: {
    left: map_get($spacers, 3);
    right: map_get($spacers, 3);
  }

  padding-top: $caret-size;

  border: {
    color: $gray-600;
    width: 1px;
    bottom-style: solid;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: $caret-size * 2;
    width: $caret-size * 2;

    margin: {
      left: auto;
      right: auto;
    }

    background-color: $blue-lighter;

    border: {
      color: $gray-600;
      width: 1px;
      top-style: solid;
      right-style: solid;
    }

    transform: rotate(-45deg);
  }
}
*/
